@font-face {
   font-family: 'Low Pixel';
   src: url('fonts/LowresPixel-Regular.otf') format('opentype');
   font-weight: normal;
   font-style: normal;
}

body {
   background-image: url(images/secret/journal/bg.png);
   background-size: 32px;
   background-attachment: fixed;
   background-color: #174199;
}

.wrapper {
   max-width: 800px;
   margin: 2rem auto;
   padding: 1rem;
   background-color: white;
}

p {
   font-family: "Low Pixel", system-ui;
}

a {
   font-family: "Low Pixel", system-ui;
}

section {
   margin-bottom: 2rem;
}

h1 {
   text-align: center;
   font-size: 1.5rem;
   font-family: "Press Start 2P", system-ui;
   margin-bottom: 1rem;
}

h2 {
   font-size: 1.5rem;
   margin-bottom: 1rem;
   border-bottom: 2px dotted #b21030;
}

footer {
   text-align: right;
   border-top: solid 2px #b21030;
}
