body {
   background-image: url(images/secret/journal/bg.png);
   background-size: 32px;
}

.wrapper {
   max-width: 800px;
   margin: 2rem auto;
   padding: 1rem;
   background-color: white;
}

h1 {
   text-align: center;
   font-size: 1.5rem;
   font-family: "Press Start 2P", system-ui;
   margin-bottom: 1rem;
}

h2 {
   font-size: 1.5rem;
   margin-bottom: 1rem;
   border-bottom: 2px dotted #b21030;
}
