@font-face {
   font-family: 'Helvetica Rounded Bold';
   src: url('fonts/Helvetica\ Rounded\ Bold.ttf') format('opentype');
   font-weight: normal;
   font-style: normal;
}

body {
   background-image: url(images/secret/spark/bg.png);
}

.wrapper {
   background-color: #0ba4f7;
   border-left: rgb(140, 0, 0) 5px solid;
   border-right: rgb(140, 0, 0) 5px solid;
   max-width: 85%;
   margin: 0 auto;
   padding: 1rem;
}

main {
   padding: 1rem;
   font-family: 'Helvetica';
   color: white;
}

h1 {
   font-family: 'Helvetica Rounded Bold', system-ui;
   font-size: 2rem;
   text-align: center;
   margin-bottom: 1rem;
   color: red;
}

h2 {
   font-family: 'Helvetica Rounded Bold', system-ui;
   font-size: 1.5rem;
   border-bottom: white 2px dashed;
   padding-bottom: 2px;
   margin-bottom: 0.5rem;
   color: red;
}

bio {
   display: grid;
   grid-template-columns: 1fr 2fr;
}