body {
   background-color: black;
}

.wrapper {
   max-width: 75%;
   margin: 0 auto;
   background-color: white;
   padding: 1rem;
}

header {
   text-align: center;
   margin-bottom: 1rem;
   border-bottom: 2px dotted black;
}

footer {
   text-align: center;
   margin-top: 1rem;
   border-top: 2px dotted black;
}

h1 {
   color: black;
   font-size: 1.6rem;
   margin-bottom: 0.5rem;
}

p {
   color: black;
}