body {
   background-color: black;
}

.wrapper {
   max-width: 60%;
   margin: 0 auto;
   background-color: white;
   padding: 1rem;
}

header {
   text-align: center;
   margin-bottom: 1rem;
   border-bottom: 2px dotted black;
}

footer {
   text-align: right;
   margin-top: 1rem;
   border-top: 2px dotted black;
}

h1 {
   color: black;
   font-size: 1.6rem;
   margin-bottom: 0.5rem;
}
h2 {
   color: black;
   font-size: 1.2rem;
   margin-top: 1rem;
   margin-bottom: 0.5rem;
}

p {
   color: black;
}

img {
   width: 80%;
   margin: 0 auto;
}

@media (max-width: 768px) {
   .wrapper {
      max-width: 80%;
   }
}