@font-face {
   font-family: 'Karmatic Arcade';
   src: url('fonts/ka1.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Low Pixel';
   src: url('fonts/LowresPixel-Regular.otf') format('opentype');
   font-weight: normal;
   font-style: normal;
}

body {
   background-image: url(images/bg.png);
   color: white;
   z-index: 0;
}

.wrapper {
   background-color: rgb(68, 68, 88);
   max-width: 85%;
   margin: 0 auto;
}

header {
   display: flex;
   justify-content: space-between;
   background-color: darkgray;
   align-items: center;
   padding: 1rem;
   position: sticky;
   top: 0;
   z-index: 2;
}

header img {
   image-rendering: pixelated;
   width: 30%;
}

nav ul {
   list-style: none;
   display: flex;
   gap: 20px;
   font-family: "Low Pixel", system-ui;
}

nav a {
   display: block;
   color: white;
   text-decoration: none;
   background-color: red;
   padding: 10px;
   border-radius: 10px;
   transition: linear 0.2s;
}
nav a:hover {
   background-color: darkred;
   cursor: pointer;
   transform: scale(1.1);
}
navMobile {
   display: none;
}

navMobile a {
   color: white;
   font-size: large;
}

navMobile .inner ul {
   list-style: none;
   display: flex;
   flex-direction: column;
   font-family: "Low Pixel", system-ui;
}

navMobile .inner li {
   margin: 1rem;
}

navMobile .inner a {
   color: white;
   text-decoration: none;
   background-color: red;
   padding: 10px;
   border-radius: 10px;
   transition: linear 0.2s;
}

navMobile .inner a:hover {
   background-color: darkred;
   cursor: pointer;
   transform: scale(1.1);
}

navMobile .inner {
   display: none;
}
.headerImage {
   margin: 0 auto;
   display: block;
   background-color: white;
}

main {
   padding: 2rem;
   font-family: "Low Pixel", system-ui;
}

main p {
   line-height: 1.5rem;
}

h2 {
   color: red;
   text-align: center;
   margin-bottom: 10px;
   font-size: 2rem;
   font-family: "Press Start 2P", system-ui;
}

h3 {
   font-size: 1.5rem;
   margin-bottom: 10px;
}

.intro img {
   image-rendering: pixelated;
   display: block;
   margin: auto;
   width: 80%;
   max-width: 640px;
   height: auto;
   margin-bottom: 1rem;
}

.intro h1 {
   font-size: 3rem;
   margin-bottom: 10px;
   text-align: center;
   color: red;
}
.intro h2 {
   margin-bottom: 2rem;
   font-size: 1rem;
   color: white;
}

main section {
   margin-bottom: 2rem;
}

main section:last-of-type {
   margin-bottom: 0;
}


.media-gallery {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 15px;
   padding: 10px;
   z-index: 1;
}

.media-gallery h3 {
   margin-top: 10px;
}

.media-image {
   image-rendering: initial;
   width: 100%;
   height: auto;
   border: red 5px solid;
   border-radius: 1rem;
}

.cilent {
   display: grid;
   grid-template-columns: 1fr 2fr;
}

.news-gallery {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 15px;
   padding: 10px;
}

.news-article {
   justify-content: center;
}

.news-article img {
   image-rendering: initial;
   width: 100%;
   height: auto;
   border: red 5px solid;
   border-radius: 1rem;
   margin: auto;
}

.news-article h3 {
   margin-top: 10px;
}

.secretExample {
   image-rendering: pixelated;
   position: relative;
   bottom: -1rem;
   left: -10%;
   z-index: 0;
   transition: linear 0.2s;
}

.secretExample:hover {
   cursor: pointer;
   transform: scale(1.1);
}

.review p:last-of-type {
   text-align: right;
   margin-top: 10px;
}

.button {
   display: block;
   width: fit-content;
   margin: auto;
   background-color: red;
   padding: 1rem;
   border-radius: 10px;
   text-align: center;
   text-decoration: none;
   transition: linear 0.2s;
}
.button:hover {
   background-color: darkred;
   cursor: pointer;
   transform: scale(1.1);
}

footer {
   display: grid;
   font-family: "Low Pixel", system-ui;
   grid-template-columns: 1fr 1fr;
   padding: 10px;
   background-color: darkgray;
   font-size: 0.75rem;
   align-items: center;
}

footer h3 {font-size: 1.2rem;}

footer section:last-of-type {
   text-align: right;
}

footer a {
   color: white;
   text-decoration: none;
}
footer a:hover {
   color: gray;
   text-decoration: underline;
}

/* TABLET Media Query
------------------------------------*/
@media (max-width: 768px) {
   .wrapper {
      max-width: 100%;
      margin: 0;
   }
   header {
      flex-direction: column;
      align-items: center;
      text-align: center;
   }
   header img {
      padding-bottom: 1rem;
   }
   .media-gallery {
      grid-template-columns: 1fr;
   }
   .news-gallery {
      grid-template-columns: 1fr;
   }
   .cilent {
      grid-template-columns: 1fr;
   }
}

/* PHONE Media Query
------------------------------------*/
@media (max-width: 480px) {
   body {
      font-size: 1.5rem;
      text-align: center;
   }
   header {
      position: static;
   }
   header img {
      width: 90%;
   }
   nav {
      display: none;
   }
   navMobile {
      display: block;
   }
   navMobile .inner a {
      display: block;
      font-size: 1.75rem;
   }
   .secretExample {
      left: -60%;
   }
   footer {
      grid-template-columns: 1fr;
      text-align: center;
   }
   footer section:last-of-type {
      text-align: center;
   }
}