body {
   background-image: url("images/bg.png");
   background-color: black;
   background-position: center;
   image-rendering: pixelated;
   color: white;
   font-family: "Press Start 2P", system-ui;
}

.wrapper {
   max-width: 95%;
   margin: auto;
   margin-top: 1rem;
   margin-bottom: 1rem;
   background-color: rgba(0, 0, 139, 0.75);
}

header {
   display: flex;
   justify-content: space-between;
   background-color: blue;
   align-items: center;
   padding: 1rem;
   position: sticky;
   top: 0;
   z-index: 2;
}

header h1 {
   color: white;
   font-size: 1.25rem;
}

nav ul {
   list-style: none;
   display: flex;
   gap: 20px;
}

nav a {
   display: block;
   color: white;
   text-decoration: none;
   background-color: red;
   padding: 10px;
   border-radius: 10px;
   transition: linear 0.2s;
}
nav a:hover {
   background-color: darkred;
   cursor: pointer;
   color: gray;
}

main {
   padding: 1rem;
}

main p {
   line-height:1.5rem;
}

h2 {
   color: darkred;
   text-align: center;
   margin-bottom: 10px;
   font-size: 2rem;
}

h3 {
   font-size: 1.5rem;
   margin-bottom: 10px;
}

.intro h1 {
   font-size: 3rem;
   margin-bottom: 10px;
   text-align: center;
   color: red;
}
.intro h2 {
   margin-bottom: 2rem;
   font-size: 1rem;
   color: white;
}

main section {
   margin-bottom: 2rem;
}

main section:last-of-type {
   margin-bottom: 0;
}

.media-gallery {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 15px;
   padding: 10px;
}

.media-gallery img {
   image-rendering: initial;
   width: 100%;
   height: auto;
   border: white 5px solid;
   z-index: 1;
}
.review p:last-of-type {
   text-align: right;
   margin-top: 10px;
}

.secretExample {
   image-rendering: pixelated;
   position: relative;
   bottom: 18.5rem;
   left: 5%;
   z-index: 0;
}

.secretExample img {
   min-width: 150%;
}

.button {
   display: block;
   width: fit-content;
   margin: auto;
   background-color: red;
   padding: 1rem;
   border-radius: 10px;
   text-align: center;
   text-decoration: none;
}
.button:hover {
   background-color: darkred;
   color: gray;
   cursor: pointer;
   transition: linear 0.2s;
}

footer {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 10px;
   background-color: blue;
   font-size: 0.5rem;
   align-items: center;
}

footer h3 {font-size: 1rem;}

footer section:last-of-type {
   text-align: right;
}

footer a {
   color: white;
   text-decoration: none;
}
footer a:hover {
   color: gray;
   text-decoration: underline;
}

/* TABLET Media Query
------------------------------------*/
@media (max-width: 768px) {
   .wrapper {
      max-width: 100%;
      margin: 0;
   }
   header {
      flex-direction: column;
      align-items: center;
      text-align: center;
   }
   header h1 {
      padding-bottom: 1rem;
   }
   .media-gallery {
      grid-template-columns: 1fr;
   }
}

/* PHONE Media Query
------------------------------------*/
@media (max-width: 480px) {
   body {
      font-size: 1.5rem;
      text-align: center;
   }
   header {
      position: static;
   }
   nav ul {
      flex-direction: column;
      align-items: center;
      gap: 10px;
   }
   footer {
      grid-template-columns: 1fr;
      text-align: center;
   }
   footer section:last-of-type {
      text-align: center;
   }
}