body {
   background-color: purple;
   color: white;
}

.wrapper {
   margin: auto;
   max-width: 50rem;
   background-color: black;
   padding: 1rem;
}

.section {
   background-color: purple;
   border: white 2px dashed;
   padding: 1rem;
   margin-bottom: 1rem;
}

h1 {
   margin-bottom: 8px;
}

h2 {
   font-size: x-large;
}

h3 {
   font-size: large;
}

ul {
   padding-left: 1rem;
   margin-bottom: 1rem;
}

ul:last-of-type {
   margin: 0;
}

a {
   color: cyan;
}

a:hover {
   color: blue;
}